.summer{
    height: 100px;
    width: 1000px;
}
.summerimg{
    height: 100%;
    width: 25%;
}
.winter{
    height: 100%;
    width: 25%;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }